{% extends 'base.html' %}

{% block title %} paintings_db: главная {% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h2 class="center"><b>paintings_db</b></h2>
        <br>
        <br>
        <h4 class="center">здесь можно <a href="/search">ввести</a> свой sql-запрос. можно <a href="/upload">загрузить</a> файл с запросом. можно посмотреть всю <a href="/paintings">базу</a> (без индексов).</h4>
    </div>
    <style>
        h4 {
            text-align: center;
            vertical-align: middle;
        }
        .center {
            padding: 50px 0;
        }
    </style>
{% endblock %}
