{% extends 'base.html' %}

{% block title %} paintings_db: главная {% endblock %}

{% block content %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">на главную</a>
        </li>
    </ul>
    <div style="text-align: center;">
        <h4 class="center">пожалуйста, удостоверьтесь в валидности запроса перед отправкой.</h4>
    </div>
    <div class="center">
        <form id="sql-query" action='/results'>
            <button type="submit">
                <svg viewBox="0 0 1024 1024">
                    <path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path>
                </svg>
            </button>
            <label for="query"></label><textarea id="query" name="query"></textarea>
        </form>
    </div>
    <style>
        h4 {
            text-align: center;
            vertical-align: middle;
        }
        .center {
            padding: 50px 0;
        }
        textarea {
            text-align: start;
            background-color: #ffffff;
            width: 500px;
            height: 500px;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            margin: auto;
            opacity: 0.5;
        }
        input {
            all: unset;
            font: 16px system-ui;
            color: #000000;
            height: 100%;
            width: 100%;
            padding: 6px 10px;
        }
        button {
            margin: 0 auto;
            all: unset;
            cursor: pointer;
            width: 44px;
            height: 44px;
        }
        svg {
            color: #151041;
            fill: currentColor;
            width: 50px;
            height: 50px;
            padding: 10px;
        }
        ul {
            margin-left: 45%;
        }
    </style>
{% endblock %}
