{% extends 'base.html' %}

{% block title %} paintings_db: главная {% endblock %}

{% block content %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">на главную</a>
        </li>
    </ul>
    <div style="text-align: center;">
        <h4 class="center">пожалуйста, удостоверьтесь в валидности запроса перед отправкой.</h4>
    </div>
    <div class="center">
      <form action="/results" method="post" enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </div>
    <style>
        h4 {
            text-align: center;
            vertical-align: middle;
        }
        .center {
            padding: 50px 0;
        }
        input {
            text-align: center;
            all: unset;
            font: 16px system-ui;
            color: #fff;
            height: 100%;
            width: 100%;
            padding: 6px 10px;
        }
        button {
            all: unset;
            cursor: pointer;
            width: 44px;
            height: 44px;
        }
        svg {
            color: #fff;
            fill: currentColor;
            width: 50px;
            height: 50px;
            padding: 10px;
        }
        ul {
            margin-left: 45%;
        }
    </style>
{% endblock %}